/*
 CSS for the main interaction
*/
.accordion > input[name="collapse"] {
  display: none;
  
  /*position: absolute;
  left: -100vw;*/
}

.accordion label,
.accordion .content{
  width: 100%;
  margin: 0;
  margin-left: -15px;
 }


.accordion .content {
  background: #fff;
  overflow: hidden;
  height: 0;
  transition: 0.5s;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
}

.accordion > input[name="collapse"]:checked ~ .content {
  height: 380px;
  transition: height 0.5s;
}

.accordion label {
  display: block;
 
}


/* For Desktop */
@media only screen and (min-width: 620px){


.accordion > input[name="collapse"]:checked ~ .content {
  height: 234px;
}

}

.accordion > input[name="collapse"]:checked ~ .content {
  border-top: 0;
  transition: 0.3s;
}

.accordion .handle {
  margin: 0;
  font-size: 16px;
  color:black;
}

.accordion label {
    color: #fff;
    cursor: pointer;
    font-weight: normal;
    padding: 10px;
    background: #57595b;
    user-select: none;
}

.accordion label:hover,
.accordion label:focus {
  background: #252525;
}

.accordion .handle label:before {
  font-family: FontAwesome;
  content: "\f107";
  display: inline-block;
  margin-right: 10px;
  font-size: 1em;
  line-height: 1.556em;
  vertical-align: middle;
  transition: 0.4s;
  
}

.accordion > input[name="collapse"]:checked ~ .handle label:before {
    transform: rotate(180deg);
    transform-origin: center;
    transition: 0.4s;
}



*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input[type="radio"] {
    -webkit-appearance: none;
}

.Radio1 {
    font-size:22px;
    border: 6px solid red;
    position: relative;
    margin: auto 15px;
    border-radius: 10px;
    color: red;
    transition: 0.5s;
}
.Radio2 {
    font-size: 22px;
    border: 6px solid #18f98d;
    position: relative;
    margin: auto 15px;
    border-radius: 10px;
    color: #18f98d;
    transition: 0.5s;
}
.Radio1 input[type="radio"]:checked + label {
    background-color: red;
    color: white;
    box-shadow: 0 15px 45px rgba(24,249,141,0.2);
}
.Radio2 input[type="radio"]:checked + label {
    background-color: #18f98d;
    color: white;
    box-shadow: 0 15px 45px rgba(24,249,141,0.2);
}

